{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col offset-s1 s10 offset-m2 m8">
                <h1>Oops</h1>
                <p>Qu'est ce que vous êtes venu faire par ici ?<br>
                    <a href="{{ path('index') }}">Retourner à la page d'accueil</a>.</p>

            </div>
        </div>
    </div>
{% endblock %}