{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col offset-s1 s10 offset-m2 m8 center-align">
                <h1>Oops</h1>

                <p>La page n'a pas pu être trouvée.</p>
                <a class="waves-effect waves-light btn tag_btn" href="{{ path('index') }}">Retourner à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}