{% extends "::base.html.twig" %}


{% block body %}
    <div class="container winner">

        <h2>Bravo {{  winner.username }} !</h2>
        <p>Tu as été tiré au sort et tu remportes un smartphone!</p>
        <p>{{ winner.email }}</p>

    </div>
{% endblock %}