@font-face {
    font-family: "Akashi";
    font-weight: bold;
    src: url("../polices/Akashi.ttf");
}

#countdown{
    text-align: center;
    font-family: "Akashi";
    font-size: 5rem;
    color: #ff6939;
    margin: 5px;
}

#countdown #countDay {
    font-size: 3rem;
}