#countdown{
    text-align: center;
    font-size: 5rem;
    color: #ff6939;
    line-height: 0;
    font-weight: bold;
}

#countdown #countDay {
    font-size: 3rem;
}

#countRegistration {
    color: #ff6939;
    line-height: 1;
    text-align: center;
    font-size: 1.75rem;
    padding: 10px 0px 20px 0px;
}