/*body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}*/

header {
    background-color: #808180;
    padding: 20px 0px;
}

header img {
    width: 100%;
    height: auto;
}

#content{
    flex: 1;
}

footer {
    background-color: #ffffff;
    align-self: flex-end;
}

footer img {
    width: 100%;
    height: auto;
}

footer .row {
    margin: 0;
    padding-top: 10px;
}

footer div {
    margin: 10px 0px;
}

.foo_mention {
    line-height: 0;
}

#checkboxfield {
    display: none;
  /*  visibility: hidden; */
}

.bloc_sp_s  {
height: 5vh;
}

.bloc_sp_xs  {
height: 2.5vh;
}

#lisere {
    width: 100%;
    border-bottom: solid 1px grey;
}

h1 {
    font-size:2em;
    text-align:center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

/* PAGE CHOIX MOTS-CLES */

.jevote {
    text-align: center;
}

/* SATISFACTION FORM */

.satis_form h1 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem !important;
}

.satis_form p {
    padding-bottom: 3rem;
}

.satis_form button {
    margin-top: 1rem;
}

#chassebundle_user_satisfaction {
    padding-bottom: 1rem;
}

#chassebundle_user_satisfaction img {
    position: absolute;
    width: 30px;
    margin: -30px 0 0 -3px;
}

label[for="chassebundle_user_satisfaction_0"] {
    margin-right: 10%;
}

label[for="chassebundle_user_satisfaction_1"] {
    margin-right: 10%;
}

label[for="chassebundle_user_satisfaction_2"] {
    margin-right: 10%;
}

label[for="chassebundle_user_comment"] {
    font-size: 1rem;
    color: black;
}

/** PAGE STATS **/

.userstats {
    text-align: center;
}

/* LEGAL MENTIONS */

.content_title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}

#legal_mentions span {
    font-weight: bold;
}

#legal_mentions {
    text-align: justify;
}

/* INDEX */

#index {
    text-align: justify;
}

#index span {
    font-weight: bold;
}

#index_wcs {
    font-style: italic;
}

#index_hack img {
    float: left;
    height: 15vh;
}

#index_arom img {
    float: right;
    height: 15vh;
}

#wcs_logo img {
    float: left;
    height: 15vh;
}

.index_howto {
    margin: 0.5rem 0 0.5rem 0;
}


/** PAGE WINNER **/

.winner {
    text-align: center;
}

.winner h2 {
    font-size: 4em;
}

.buttons_panel > a {
    margin: auto;
}