body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    background-color: #808180;
    padding: 20px 0px;
}

header img {
    width: 100%;
    height: auto;
}

#content{
    flex: 1;
}

footer {
    background-color: #ffffff;
    align-self: flex-end;
}

footer img {
    width: 100%;
    height: auto;
}

.foo_region {
    margin-bottom: 10px;
}

footer p {
    font-size: 0.8rem;
}

#checkboxfield {
    display: none;
  /*  visibility: hidden; */
}

.bloc_sp_s  {
height: 5vh;
}

.bloc_sp_xs  {
height: 2.5vh;
}

#lisere {
    width: 100%;
    border-bottom: solid 1px grey;
}

h1 {
    font-size:1.75em;
    text-align:center;
}

h2 {
    font-size: 1.5em;
    text-align:center;
}

h3 {
    font-size: 1.25em;
    text-align:center;
}

/* Keywords choice */

.jevote {
    text-align: center;
}

.chip {
    cursor: pointer;
}

#wordautocomp, #chipchosen {
    text-align: center;
}

/* SATISFACTION FORM */

.satis_form {
    padding-bottom: 3rem;
}

#chassebundle_user_satisfaction {
    padding-bottom: 1rem;
}

#chassebundle_user_satisfaction img {
    position: absolute;
    width: 30px;
    margin: -30px 0 0 -3px;
}

label[for="chassebundle_user_satisfaction_0"] {
    margin-right: 10%;
}

label[for="chassebundle_user_satisfaction_1"] {
    margin-right: 10%;
}

label[for="chassebundle_user_satisfaction_2"] {
    margin-right: 10%;
}

label[for="chassebundle_user_comment"] {
    font-size: 1rem;
    color: black;
}

/** PAGE STATS **/

.userstats {
    text-align: center;
}

/* LEGAL MENTIONS */

.content_title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: justify;
}

#legal_mentions span {
    font-weight: bold;
}

#legal_mentions {
    text-align: justify;
}

/* INDEX */

#index {
    text-align: justify;
}

#index span {
    font-weight: bold;
}

#index_wcs {
    font-style: italic;
}

#index_hack img {
    float: left;
    height: 15vh;
}

#index_arom img {
    float: right;
    height: 15vh;
}

#wcs_logo img {
    float: left;
    height: 15vh;
}

.index_howto {
    margin: 0.5rem 0 0.5rem 0;
}


/** PAGE WINNER **/

.winner {
    text-align: center;
}

.winner h2 {
    font-size: 4em;
}


/* END PAGE */

#end_content h1 {
    font-size: 1.2rem;
    color: #2092CE;
}

/* Other */

.buttons_panel > a {
    text-align:center;
    margin: 3px;
}

.buttons_panel {
    margin: auto;
    text-align:center;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    text-transform: none;
    float:right;
}

#learnmore img{
    width: 100%;
    text-align:center;
    height:auto;
}

#learnmore {
    text-align: justify;
}

#chassebundle_user_comment {
    margin-bottom: 7px;
}

/* Countdown page styling */

#countContent {
    text-align: center;
    color: #2092CE;
    margin: 5% 5% 0 5%;
}

#countdown {
    font-size: 4.5rem;
    line-height: 0;
    font-weight: bold;
}

#countdown #countDay {
    font-size: 3rem;
    line-height: 0;
}

#countRegistration {
    color: black;
    line-height: 1;
    padding: 10px 0px 20px 0px;
}

.count_btns a {
    margin: 0.5rem;
}