/* body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
} */

header {
    background-color: #808180;
    padding: 20px 0px;
}

header img {
    width: 100%;
    height: auto;
}

#content{
    flex: 1;
}

footer {
    background-color: #ffffff;
    align-self: flex-end;
}

footer img {
    width: 100%;
    height: auto;
}

footer .row {
    margin: 0;
    padding-top: 10px;
}

footer div {
    margin: 10px 0px;
}

#checkboxfield {
    display: none;
  /*  visibility: hidden; */
}

.bloc_sp_s  {
height: 5vh;
}

.bloc_sp_xs  {
height: 2.5vh;
}

#lisere {
    width: 100%;
    border-bottom: solid 1px grey;
}

h1 {
    font-size:2em;
    text-align:center;
}

h2 {
    font-size: 1.5em;
}

/* PAGE CHOIX MOTS-CLES */

.jevote {
    margin-left: 80px;
}

/* SATISFACTION FORM */

.satis_form h1 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem !important;
}

.satis_form p {
    padding-bottom: 3rem;
}

.satis_form button {
    margin-top: 1rem;
}

#chassebundle_user_satisfaction {
    padding-bottom: 1rem;
}

#chassebundle_user_satisfaction img {
    position: absolute;
    width: 30px;
    margin: -30px 0 0 -3px;
}

label[for="chassebundle_user_satisfaction_0"] {
    margin-right: 10%;
}

label[for="chassebundle_user_satisfaction_1"] {
    margin-right: 10%;
}

label[for="chassebundle_user_satisfaction_2"] {
    margin-right: 10%;
}

label[for="chassebundle_user_comment"] {
    font-size: 1rem;
    color: black;
}

/** PAGE STATS **/

.userstats {
    text-align: center;
}


/** PAGE WINNER **/

.winner {
    text-align: center;
}

.winner h2 {
    font-size: 4em;
}