{% extends "::base.html.twig" %}

{% block title %}ChasseBundle:Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {% block content %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}

{% endblock %}
