{% extends "::base.html.twig" %}

{% block title %}ChasseBundle:Front:countdown{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/countdown.css') }}">
    <link rel="stylesheet" href="{{ asset('polices/Akashi.ttf') }}">
{% endblock %}
{% block body %}

    <div id="countdown"></div>



{% endblock %}

  {% block javascripts %}
      <script type="text/javascript" src="{{ asset ('js/countdown.js') }}"></script>
  {% endblock %}
