{% extends "::base.html.twig" %}

{% block title %}Préinscris toi en attendant le démarrage ! - Tag ton métier{% endblock %}

{% block body %}
    <div class="container">
        <div id="countContent">
            <div id="countdown"></div>
            <div id="countRegistration">
                <p>JOUE A TAG TON METIER<br /> et tente de gagner un smartphone !</p>
                <a id="countRegisterButton" href="{{ path('fos_user_registration_register') }}">Préinscris-toi</a>
            </div>
        </div>
    </div>


{% endblock %}

  {% block javascripts %}
      <script type="text/javascript" src="{{ asset ('js/countdown.js') }}"></script>
  {% endblock %}
