{% extends "::base.html.twig" %}

{% block title %}ChasseBundle:Front:countdown{% endblock %}

{% block body %}
    <h1>Welcome to the Front:countdown page</h1>
<div id="compte_a_rebours">
</div>



{% endblock %}

  {% block javascripts %}
<script type="text/javascript" src="compterebours.js"></script>
  {% endblock %}
