{% extends "::base.html.twig" %}

{% block title %}Evènement terminé - Tag ton métier{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1" id="end_content">
                <h1>Le jeu Tag ton métier est à présent terminé.</h1>

                <h2>Tirage au sort lundi 13 février 2017 !</h2>
                <h3>L’exploration des métiers continue sur :<br> <a href="http://www.mondial-metiers.com" target="_blank">www.mondial-metiers.com</a></h3>
            </div>
        </div>
    </div>

{% endblock %}