{% extends "::base.html.twig" %}

{% block title %}Règlement du jeu{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s10 offset-s1" id="legal_mentions">
            <h1>Règlement officiel du jeu concours « Tag ton métier »</h1>

            <p>Aucun achat ni paiement n’est nécessaire pour participer au jeu concours « Tag ton métier » du Mondial des Métiers ou gagner un prix. Un achat n’augmentera pas vos chances de gagner.</p>

            <p>1.- QUI ORGANISE LE CONCOURS ET DANS QUEL BUT ?<br/>
            L'Arom (l'Association Rhône-Alpes pour l'orientation et la promotion des Métiers) dont le siège se situe au 1, esplanade François Mitterrand, CS 20033, 69269 LYON CEDEX 02 organise un jeu concours visant à récolter des mots-clés métier par métier afin, d’une part, de proposer aux visiteurs un nouvel
            outil pour favoriser l’échange sur les métiers entre visiteurs et exposants et, d’autre part, d’alimenter en mots-clés pertinents le moteur de recherche du site Internet du Mondial des Métiers.</p>

            <p>2.- DURÉE :<br/>
            Ce concours durera du 02/02/2016 jusqu’au 10/02/2016 à 23h59.</p>

            <p>3.- ÉLIGIBILITÉ<br/>
            Peuvent participer à ce concours toute personne de plus de 18 ans et de moins de 18 ans avec accord parental.<br/><br/>
                Tout employé.e de l'association organisatrice, ainsi que les revendeurs et agences de communication, agents financiers ne peuvent participer à ce concours.</p>

            <p>4.- PUBLICATION ET COMMUNICATION :<br/>
            Pour participer au concours, les participants devront se rendre sur www.tagtonmetier.com et attribuer de 1 à 6 mots-clés à au moins 3 métiers. Il est possible d’attribuer à chaque métier 5 mots clés à partir d’une base existante et un 6 e en saisie libre. Tous les mots-clés saisis librement seront
            vérifiés par un administrateur officiel de l'Arom. Le texte saisi librement ne doit pas revêtir de caractère obscène, inapproprié, haineux, scandaleux, libéral, tortionnaire, violent, discriminatoire,
            offensif, ne doit pas être contre la loi ou contre le harcèlement et ne doit pas désigner des marques déposées ou des logos d’entreprises sous peine d’être exclus du jeu concours.<br/><br/>
            Les participations tardives ou corrompues sont interdites et ne seront pas acceptées. Les participations ne peuvent se faire via des agences ou par une tierce personne. En participant au
            concours, chaque participant accepte ces conditions officielles et la décision de l'Arom et s’engage àles respecter.</p>

            <p>5.- PRIX :<br/>
            1 gagnant sera tiré au sort parmi les participant.e.s du concours qui auront renseigné au moins 3 métiers. Il recevra un mail lui indiquant son gain, un smartphone, qui lui sera remis en main propre
            dans les locaux de l’Arom 8, rue Paul Montrochet 69002 Lyon. Sans réponse du gagnant sous 48 heures, il sera procédé à un nouveau tirage au sort et ainsi de suite jusqu’à ce qu’un gagnant soit trouvé.</p>

            <p>6.- PARTICIPATION :<br/>
                La participation à ce concours est gratuite et se déroulera exclusivement en ligne sur <a href="http://www.tagtonmetier.com" target="_blank">www.tagtonmetier.com</a></p>

            <p>7.- FONCTIONNEMENT :<br/>
            Les utilisateurs participeront au concours en rattachant 1 à 6 mots-clés à au moins 3 métiers au choix dans la liste des métiers présentés sur <a href="http://www.tagtonmetier.com" target="_blank">www.tagtonmetier.com</a><br/><br/>
            Comment participer :<br/>
            <ol type="a">
                <li style="text-align: left">Connectez-vous à <a href="http://www.tagtonmetier.com" target="_blank">www.tagtonmetier.com</a></li>
                <li>Créez votre compte.</li>
                <li>Jouez à « Tag ton métier » entre le 2 février 10h et le 10 février 2017 23h59.<br/>
                    Après avoir collecté de l’information sur les stands visités, associer de 1 à 6 mots-clés aux
                    métiers sur lesquels vous vous êtes renseignés. Vous avez la possibilité d’associer jusqu’à 5
                    mots-clés au choix parmi une liste et un mot-clé de votre choix (saisie libre dans le respect
                    des interdictions listées ci-dessus).<br/>
                    A partir de 3 mots-clés renseignés vous êtes automatiquement inscrit.e pour le tirage au sort.
                </li>
                <li>Répondez à la question de satisfaction globale sur le Mondial des Métiers</li>
                <li>Validez votre participation avant le 10 février 2017 23h59.</li>
            </ol>
            Seules seront validées les participations ayant réuni toutes ces conditions.</p>

            <p>8.- ATTRIBUTION DES GAINS :<br/>
            Le ou la gagnant.e sera choisi.e à l’aide d’un tirage au sort numérique le 13 février à 14h.</p>

            <p>9.- DISQUALIFICATIONS :<br/>
            L'Arom se réserve le droit de refuser des participations considérées frauduleuses ainsi que celles qui ne réunissent pas les conditions requises citées ci-dessus. L'Arom ne prendra aucune responsabilité à ce sujet.</p>

            <p>10.-PROTECTION DES DONNÉES :<br/>
            Conformément à la loi « informatique et libertés » du 6 janvier 1978, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et
                obtenir communication des informations vous concernant, veuillez-vous adresser à l’AROM <a href="mailto:arom@mondial-metiers.com">arom@mondial-metiers.com</a>.</p>

            <p>11.- MODIFICATIONS DE LA PROMOTION ET DU RÈGLEMENT DU CONCOURS :<br/>
            L'Arom se réserve le droit d’annuler ou de modifier à tout moment le concours si le bon fonctionnement de la campagne ne pouvait pas être assuré soit pour des raisons techniques, des
            virus, par exemple, manipulation ou pour toute autre raison d’organisation ou de force majeure.</p>

            <p>12.- ACCEPTATION DU RÈGLEMENT :<br/>
            En participant à ce concours, il est sous-entendu que les participants adhèrent complètement à son règlement et acceptent le résultat. Les participants ainsi que la structure organisatrice acceptent que
            tout litige pouvant survenir au sujet de l’application ou de l’interprétation de ce concours soit soumis à la juridiction et à la compétence des Cours et Tribunaux de la ville de Lyon.</p>
        </div>
    </div>

{% endblock %}
