{% extends "::base.html.twig" %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s10 offset-s1" id="legal_mentions">
            <h1>Mentions légales www.tagtonmetier.com</h1>

            <p class="legal_title">AROM<br/>
                Association Rhône-Alpes pour l'Orientation et la promotion des Métiers</p>

            <p>1 esplanade François Mitterrand CS 20033 – 69269 LYON cedex 02<br/> Tél. : 04 26 73 44 66<br/> E-mail : arom@mondial-metiers.com</p>

            <p><span>Directeur de la publication :</span> Bénédicte ZAMBO.<br/>
                Les informations recueillies dans le formulaire d'inscription au jeu Tag ton métier fait l'objet d'un traitement informatique destiné à obtenir des associations entre des métiers et des mots-
                clés et à organiser un tirage au sort. Le destinataire des données recueillies sur le site est l'AROM.<br/><br/>
                Conformément à la loi « infomatique et libertés » du 6 janvier 1978, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez
                exercer ce droit et obtenir communication des informations vous concernant, veuillez-vous adresser à l’AROM – 04 26 73 49 70 ou r.vouillon@mondial-metiers.com.<br/><br/>
                L'AROM s'engage à ne pas communiquer les données recueillies sur le site à des tiers en vue d'un usage commercial.</p>

            <p class="legal_title">Crédits :</p>

            <p>Conception, web design et réalisation<br/>
            Wild Code School 17, avenue Delandine, 69002 LYON</p>

            <p class="legal_title">Hébergement</p>

            <p>OVH<br/>
                2 rue Kellermann<br/>
                59100 Roubaix</p>
        </div>
    </div>

{% endblock %}
