{% extends "::base.html.twig" %}

{% block title %}Merci d'avoir voté !{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col offset-s1 s10">
                <h4>Merci d'avoir voté !</h4>
                <p>Votre vote a bien été enregistré !</p>
                {% if vote < 3 %}
                    <p>Il vous reste encore <span>{{ 3 - vote }}</span> métier à renseigner avant de pouvoir participer au tirage au sort !</p>
                {% endif %}


            </div>
            <div class="col offset-s1 s10 buttons_panel">
                <a href="{{ path('job_select') }}" class="btn">
                    Tagger un autre métier
                </a>
                <a href="{{ path('index') }}" class="btn">
                    Retour à l'accueil
                </a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn">
                    Se déconnecter
                </a>
            </div>
        </div>
    </div>
{% endblock %}