{% extends "::base.html.twig" %}

{% block title %}Vote validé - Tag ton métier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col offset-s1 s10">
                <h2>Merci d'avoir participé !</h2>
                <p>Tes tags ont bien été enregistrés !<br>
                {% if vote < 3 %}
                    Il te reste encore <span>{{ 3 - vote }}</span> métiers à renseigner avant de pouvoir participer au tirage au sort !
                {% endif %}
                </p>


            </div>
            <div class="col offset-s1 s10 buttons_panel">
                <a href="{{ path('job_select') }}" class="btn">
                    Tagger un autre métier
                </a>
                <a href="{{ path('index') }}" class="btn">
                    Retour à l'accueil
                </a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn">
                    Se déconnecter
                </a>
            </div>
        </div>
    </div>
{% endblock %}